In [23]:
# Creating Integer type Variable i.e we no need to specify the type of data for the variable (Python will understand)

In [24]:
i = 10

In [25]:
i

10

In [26]:
type(i)

int

In [27]:
# Creating Float type Variable i.e we no need to specify the type of data for the variable (Python will understand)

In [28]:
f = 10.00

In [29]:
f

10.0

In [30]:
type(f)

float

In [31]:
# Creating String type Variable i.e we no need to specify the type of data for the variable (Python will understand)

In [32]:
s = "suresh"  # or k = 'suresh'

In [33]:
s

'suresh'

In [34]:
type(s)

str

In [35]:
# Creating Complex type Variable i.e we no need to specify the type of data for the variable (Python will understand)

In [36]:
c = 6+67j

In [37]:
c

(6+67j)

In [39]:
type(c)

complex

In [51]:
c.imag

67.0

In [54]:
c.real

6.0

In [55]:
id(c)

129231664

In [111]:
c1 = 6+8j
c2 = type(c1)
type(c2)

type

In [56]:
# Creating Boolean type Variable i.e we no need to specify the type of data for the variable (Python will understand)

In [57]:
b = True

In [58]:
b

True

In [59]:
type(b)

bool

In [60]:
True +True #Python will understand that True is 1

2

In [64]:
name1 = 'sure"sh'
print(name1)
type(name1)

sure"sh

str

In [67]:
name2 = "sure'sh"
print(name2)
type(name2)

"sure'sh"

In [69]:
name3 = """sure'sh""" # or """sure"sh"""
print(name3)
type(name3)

sure'sh

str

In [70]:
name4 = """sure"sh"""
print(name4)
type(name4)

sure"sh

str

In [72]:
# cancatination operation First we need to convert interger to string and after that we can cancatinate
str(1)+"suresh"

'1suresh'

In [74]:
# convert string to integer i.e string to integer is possible only if string contains intergeres in the data set
int('1234')

1234

In [76]:
'sure ' * 10

'sure sure sure sure sure sure sure sure sure sure '

In [77]:
4 * 10

40

In [78]:
2 ** 3  # 2 Power 3

8

In [83]:
# Boolean Evaluation
True and True

True

In [84]:
True and False

False

In [85]:
False and False

False

In [86]:
False and True

False

In [87]:
True is False

False

In [88]:
not True

False

In [89]:
True is True

True

In [91]:
True * True

1

In [92]:
False / True

0.0

In [93]:
# Branching (if / elif / else)

In [104]:
i = 9
if i == 10:
    print("If Block")
elif i == 11:
    print("elif block")
else:
    print("This is else block")

This is else block

In [107]:
s = "sure"
if True:
    if s == "sur":
        print("First If block")
    else:
        print("else block")
else:
    print("final else block")

else block

In [113]:
# List represents an ordered, mutable collection of objects. You can mix and macth any type of object in a list, add to it and 
# remove it at will
k = []
type(k)

list

In [116]:
# Creating Empty Lists. To create an empty list, you can use empty square brackets or use the list() function with no arguments.
m = list()
type(m)

list

In [117]:
k = ["sure","mahe","nali",90,70,40]
k

['sure', 'mahe', 'nali', 90, 70, 40]

In [120]:
k[1]

'mahe'

In [121]:
type(k[1])

str

In [122]:
k[-1]

40

In [123]:
k[1:4] # Print from 1st index value to 3rd index values exclude 4th index value

['mahe', 'nali', 90]

In [124]:
k

['sure', 'mahe', 'nali', 90, 70, 40]

In [129]:
k[1:4:2] # Print values from 1st index to 3rd index with step size of 2

['mahe', 90]

In [131]:
k[:4:2] # It means print valuse from oth index to 3rd index with step size of 2

['sure', 'nali']

In [132]:
# step size is by default positive direction
k[4:1:1]

[]

In [133]:
k[4:1:-1]

[70, 90, 'nali']

In [134]:
k[::-1] # print list in reverse order

[40, 70, 90, 'nali', 'mahe', 'sure']

In [137]:
# reverse s string with out using function or method
str = "suresh"
result = str[::-1]
result

'hserus'

In [1]:
sss = ["assss","brere","cfdfds","dre",1,2,3,4]
b = []
for i in sss :
    if type(i) == str:
        b.append(i)
print(b)

['assss', 'brere', 'cfdfds', 'dre']

In [2]:
m = list()
type(m)

list

In [4]:
m1 = list("sure")
m1

['s', 'u', 'r', 'e']

In [5]:
m2 = list(["sure","suresh"])
m2

['sure', 'suresh']

In [11]:
l = ["suresh","suresh2",1,2,3,4] #Print list in reverse order
l[::-1]

[4, 3, 2, 1, 'suresh2', 'suresh']

In [12]:
s = "sure"
s[0]

's'

In [13]:
s[-1]

'e'

In [14]:
s[0:7]

'sure'

In [16]:
s[0:3] # upper bound is excluded

'sur'

In [17]:
s[3:0] # step size is positive direction by default

''

In [18]:
s[3:0:-1]

'eru'

Adding . You can append to a list very easily (add to the end) or insert at an arbitray index.

In [27]:
l = ['sure',"suresh"]
l.append('ss')
l.append(["a","b","c"]) #appending list inside list
l.insert(1,["dfdff","ereree"]) #inserting data at given index
l

['sure', ['dfdff', 'ereree'], 'suresh', 'ss', ['a', 'b', 'c']]

In [40]:
l.insert(-1,[1,2,3]) # In case of -1 index it will append value before index(In this case -2)
l

['sure',
 ['dfdff', 'ereree'],
 'suresh',
 'ss',
 [1, 2, 3],
 [1, 2, 3],
 ['a', 'b', 'c']]

In [41]:
l[1]

['dfdff', 'ereree']

In [42]:
type(l[1])

list

In [43]:
l[1][0]

'dfdff'

In [44]:
list(l[1][0]) # splitting data in small characters using list function

['d', 'f', 'd', 'f', 'f']

In [45]:
"sure"+"suresh"

'suresuresh'

In [46]:
l1 = ["a","b","c"]
l2 = ["d","e","f"]
l1+l2

['a', 'b', 'c', 'd', 'e', 'f']

In [47]:
l3 = ["a","b","c"]
l4 = ["d","e","f",[1,2,3]]
l3+l4

['a', 'b', 'c', 'd', 'e', 'f', [1, 2, 3]]

In [48]:
# l3 + "sure"  list cancatination is possible only if both variable are lists
l3 + ["sure"]

['a', 'b', 'c', 'sure']

In [50]:
# list function iterable list(123) will not work because 123 is integer not iterable object
list('123')

['1', '2', '3']

In [57]:
l = ["suresh"] # list of size is 1 with 0 index
l[0:4] # here we are printing values from 0th index to 4th index

['suresh']

In [61]:
# l[0:4:-1] We will face error because we are trying to print valuse from oth to 4th index valuse with step size -1

In [62]:
l[0][::-1] # Here we can print list object in reverse order

'hserus'

In [106]:
# Reverse the all the strings in list with same index
# Strings are iterable objects not integers
test = [["suresh","sure"],"sures","sur"]
test

[['suresh', 'sure'], 'sures', 'sur']

In [112]:
result = []
for i in test:
    result.append(i[::-1])
print(result)

[['sure', 'suresh'], 'serus', 'rus']

In [113]:
# how to reverse elements in the nested list with same index
# ex: [['suresh', 'sure'], 'sures', 'sur'] result: [['hserus','erus'], 'serus', 'rus']
# how to reverse list if it containes integers and strings
# ex: [['suresh', 'sure'], 'sures', 'sur',1,2,3,4] result: [['hserus','erus'], 'serus', 'rus',1,2,3,4]

In [126]:
# Reverse the string in the list
s = [1,2,3,"sure"]
for i in s:
    if type(i) == str:
        print(i[::-1])

erus

In [127]:
# Reverse the list in list i.e nested list i.e reverse the order
s1 = [1,2,3,"sure",["dfg","xyz","abc"]]
for i in s1:
    if type(i) == list:
         print(i[::-1])

['abc', 'xyz', 'dfg']

In [128]:
# Reverse the nested list i.e reversing the strings in the list
l = []
s1 = [1,2,3,"sure",["dfg","xyz","abc"]]
for i in s1:
    if type(i) == list:
         for j in i[::-1]:
                l.append(j[::-1])
l

['cba', 'zyx', 'gfd']

In [131]:
# Replace the values and assign it to new list
a = ['laptop','mobile','grapes','books']
a[0] = 'macbook'

b = a
print(b)
print(a)

['macbook', 'mobile', 'grapes', 'books']
['macbook', 'mobile', 'grapes', 'books']

In [137]:
# Printing string characters with space using for loop
s = "suresh"
for i in s:
    print(i,sep=' ',end=" ")

s u r e s h

In [141]:
# skip element in list using range function
l = ["abc","def","ghi","jkl","mno","pqr"]
for i in range(0,5,2):
    print(l[i])

abc
ghi
mno

In [145]:
# Program to find the sum of all the numbers stored in a list
numbers = [1,2,3,4,5,6,7,8,9,10]
sum = 0

for i in numbers:
    sum = sum+i
print("sum of all numbers in a list:",sum)

sum of all numbers in a list: 55

In [148]:
# for loop with else
digits = [1,2,3]

for i in digits:
    print(i)
else:
    print('No elements left.')

1
2
3
No elements left.

In [149]:
# While Loop
# n = int(input("Enter n :"))
n = 10

#initialize sum and counter
sum = 0
i = 1

while i <=10:
    sum = sum + i
    i = i+1            # update the counter
    
print("Sum is",sum)

Sum is 55

In [153]:
# Range Function i.e range() Generate data set between o to 10 it exclude 10
range(10)

range(0, 10)

In [156]:
list(range(10)) # list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [158]:
# generate dataset in reverse order i.e 10 to 0
list(range(10,0,-1)) # -1 step size - means reverse direction

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [159]:
# Generate the even number dataset 
list(range(0,10,2)) # 2 is the step size

[0, 2, 4, 6, 8]

In [161]:
list(range(8,2,-2)) # -2 is the step size in reverse direction

[8, 6, 4]

In [168]:
# Create a list and Print even index values in the list
l = ["sure","tedla","sures","suresh",22,44,66]
result = list(range(0,len(l),2))
result

[0, 2, 4, 6]

In [182]:
for i in range(0,len(l),2):
    print(l[i])

sure
sures
1
3

In [191]:
# Reverse the list with out using [::-1] instead use range()
l = ["sure","tedla","sures","suresh",1,2,3,4]
r = []
for i in range(len(l)-1,-1,-1):
    r.append(l[i])
print(r)

[4, 3, 2, 1, 'suresh', 'sures', 'tedla', 'sure']

In [207]:
# Break statment in for else (Else block will executed only after for loop completes)
for val in "suresh":
    if val == "u":
        break
    print(val)
else:
    print("print after this for loop")
print("the end")

s
the end

In [206]:
# Continue statement
# continue gives control to for loop instead of executing further
for val in "string":
    if val == "i":
        continue
    print(val)
else:
    print("print this if for loop is able to complete itself")
    print("the end")

s
t
r
n
g
print this if for loop is able to complete itself
the end

In [3]:
# Program to take the input string from the user
a = input()
print("print your input here in console:",a)

hellow
print your input here in console: hellow

In [5]:
type(input()) # input return string

111

str

In [8]:
type(int(input())) # converting string to integer

22

int

In [9]:
# Program to iterate through a list using indexing
genre = ['pop','rock','jazz','sapna']

# iterate over the list using index
for i in range(0,len(genre)-1,2):
    print("I like",genre[i])

I like pop
I like jazz