# String Objects and List objects

Strings are used to record the text information such as name.In Python, strings act as "Sequence" which means Python tracks very element in the String as a sequence.This is one of the important features of the Python language.

For example ,Python understand the string "hello" to be a sequence of letters in a specific order which means the indexing technique to grab particular letters(like first or last letter)

# Creating s String

In Python, either single(') or double(") must be used while creating a string.

    For Example:

In [1]:
# Single word
'suresh'

'suresh'

In [2]:
'sure"sh'

'sure"sh'

In [3]:
"suresh"

'suresh'

In [4]:
"sure'sh"

"sure'sh"

In [5]:
# Enire phrase
'This is Suresh'

'This is Suresh'

In [6]:
"""This
is a multi line 
comment
"""

'This\nis a multi line \ncomment\n'

In [7]:
len('suresh')

6

# String Indexing

In [8]:
s = "This is Python"

In [9]:
s

'This is Python'

In [10]:
s[3]

's'

In [11]:
s[-1]

'n'

In [12]:
s[::-1]

'nohtyP si sihT'

In [13]:
s[::2]

'Ti sPto'

# String Properties

Immutability is one the finest string property which is created once and the elements within it cannot be changed or replaced.

In [14]:
s

'This is Python'

In [15]:
s[0] = "ss" # string is a immutable object

TypeError: 'str' object does not support item assignment

In [ ]:
l = [1,2,3,4] # List is mutable object i.e we can change elements in the list

In [ ]:
l[0]

In [ ]:
l[0] = '11' # Here we are able to replace othe index element i.e 1 with 11
l

In [ ]:
s + ' Programming'
s

In [ ]:
s = s + ' Programming' # we can reassign a completely though
s

In [ ]:
'sure' + 1 # we can not concatinate string and integer

In [ ]:
'sure' + str(1) # typecasting integer to string then concatinating

In [ ]:
s

In [ ]:
s * 6

# Basic Built-in String methods

In [ ]:
s

In [ ]:
s.upper() # This will not effect original value until you assign it to 's' variable

In [ ]:
s.lower()

In [ ]:
s.split() # Split a string by blank space (this is the default)

In [ ]:
s.split('o') # Split based on delimeter default values is space

In [ ]:
# Split by a specific element(doesn't include the element that was split on)
ss = "suresh@developer@company"
ss.split('@')

In [ ]:
# create a list to store strings and concatinate strings into on string
# Ex: ["sure","sures","suresh"] result: "suresuressuresh"

# Print Formatting

Print Formatting ".format()" method is used to add formatted objects to the printed string statements.

Lets see an example to clearly understand the concept.

In [ ]:
'This is Python Programming: {}'.format('The inserted string')

In [ ]:
a = 'sure'
b =  'tedla'
'insert data {} in runtime :{}'.format(a,b)

# Location and Counting

In [ ]:
s

In [ ]:
s.count('P') # Count of particular character

In [ ]:
s.find('P') # Index of value of first occurence of character

In [ ]:
s

In [ ]:
# Formatting The center() method allows you to place your string 'centered' between a provided string with a certain length.
s.center(20,'z')

In [ ]:
# Expandtabs() will expand tab notation \t into spaces. Lets see an example to under stand the concept
'hello\thi'.expandtabs()

In [ ]:
# is check methods
s = 'hello'

isalnum() will return "True: If all characters in s are alphanumeric

In [ ]:
s.isalnum()

In [ ]:
# isalpha() will return "True" if all characters in S are alphabetic
s.isalpha()

In [ ]:
# islower() will return "True" If all cased characters in S are lowercase  and there is at least one cased character is S, False otherwise
s.islower()

In [ ]:
s = "Hello"
s.islower()

In [ ]:
# Isspace() will return "True" iF there is space in S otherwise False
s.isspace()

In [ ]:
s

In [ ]:
# istitle() will return "True" If S is a title string and there is at least one character in S i.e uppercase charatcers may only follow uncased characters and lowercase characters only cased ones. Return False otherwise
s = "Sure"
s.istitle()

In [ ]:
# isupper() will return "True" If all cased characters in S are uppercase and there is at least one cased charcter in S, False otherwise
s = "SURESH"
s.isupper()

In [ ]:
# Another method is endswith() which is essentially same as a boolean check on s[-1]
s.endswith('H')

# Built-in Regular Expressions

In Strings, there are some built-in methods which is similar to regular expression operations.Split() function is used to split the string at a certain element and return a list of the result. Partition is used to return a tuple that includes the separator(the first occurrence), the first half and the end half

In [ ]:
s

In [ ]:
s.split('E')

In [ ]:
s.partition('E') # Result in tuple

# Lists

In [ ]:
list = ["sure","sures","suresh"]
len(list)

In [ ]:
list[0] = "suree"
list

In [ ]:
list

In [ ]:
s

In [ ]:
l = [1,2,3,4,"sure","sures"]
l.pop() # pop off the last index value by default

In [ ]:
l

In [ ]:
l.pop(2)

In [ ]:
l

In [ ]:
l.reverse() # reverse() changes are permanently
l

In [ ]:
l = [3,4,52,6,1]
l.sort() # sort on the list only If list has intergers or characters
l

In [ ]:
l.sort(reverse=True) # Sort in descending order
l

# Nested Lists

In [ ]:
# lets make three lists
list_1 = [1,2,3]
list_2 = [4,5,6]
list_3 = [7,8,9]

#make a list of lists to form Matrix
matrix = [list_1,list_2,list_3]
matrix

In [ ]:
matrix[1][1]

# List  Comprehensions

Before we try to understand list comprehensions completely we need to understand "for" loops.

Here are few of our examples which helps you to understand list comprehensions.

In [ ]:
matrix

In [ ]:
l = []
for i in matrix:
    l.append(i[1])
l

In [ ]:
# Build a list comprehension by deconstructing a for loop within a[]
first_col = [row[1]**2 for row in matrix]
first_col

In [ ]:
l = [1,2,3,4]
[num for num in l if num % 2 ==0 ]

In [ ]:
a = [[1,2,3],[4,5,6]]
l1 = [i for row in a for i in row]
l1

In [ ]:
matrix

In [ ]:
[(i[0],i[1]) for i in matrix]

In [ ]:
l = []
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
k = []
matrix1 = [a,b,c]
for i in matrix:
    l.append(i[0])
    k.append(i[1])
print(l,k)

In [ ]:
l = ['aaa', 'bbb', 'ccc']
s = ''.join(l)
s

# Advance Lists

In [ ]:
l = [1,2,3]

In [ ]:
l.append(4)
l

In [ ]:
l.count(1) # Count of 1 integer in list l

In [ ]:
x = [1,2,3]
x.append([4,5]) # append : Append object at end
print(x)

extend: extends list by appending elements from the iterable

In [ ]:
x = [1,2,3]
x.extend('ty')
print(x)

In [ ]:
x = [1,2,3]
x.extend([4,5,6,'ty',[7,8,9]])
print(x)

Note how extend append each element in that iterable.That is the key difference.

In [ ]:
# Index() returns the element placed as an argument.Make a note that if the element is not in the list then it returns an error
l = [1,2,3,"suresh"]
l.index("suresh")

In [ ]:
# remove() method removes the first occurence of a value. For example:
l.remove(1)

In [ ]:
l.remove(2) # pass the values that you want to remove

In [ ]:
l

In [ ]:
l1 = [1,2,3,4]
l1.pop(1) # remove index 1 values from list
l1

In [ ]:
l1

In [ ]:
input().split() # split input data into list

# Tuple

In Python, tuples are similar to lists but they are immutable i.e they cannot be changed. You would use the tuples to present data that shouldn't be changed,such as days of week or dates on a calender

In [ ]:
# Constructing Tuples
# The construction of tuples use() with elements separated by commas where in the arguments will be passed within brackets
# For example
# tuple can hold any dataset i.e integer,string,bool and float
t = ()
type(t)

In [ ]:
t = (1,2,3,4,"sure","tedla",[5,6,7,8],(9,10,11))
t[0] # get value using index

In [ ]:
t[1:6:2]

In [ ]:
t[::-1] # Print tuple in reverse order

In [ ]:
t

In [ ]:
l = list(t)
l[0] = 11
l

In [ ]:
# re-assignment or data manipulation or mutation is not possible in tuple
t[0] = "aa" # change value of 0th index value it is not possible

In [ ]:
t1 = ('one',2)
t1.index(2) # Return Index of value 2 i.e 1

In [ ]:
t1.count(2) # return count of value 2 i,e 1

In [ ]:
# Modifying the tuple value
a = (1,2,3,4,[5,6,7,8])
a[4][0] = "sures" # we are trying to modify the one of the list value in tuple
a

In [ ]:
# List and tuple can contains duplicate values 
a = (1,2,3,4,[5,6,7,8])
a[4] = [55,66,77,88] # we are trying to modify the all the list values in tuple its not possible
a

# Set

Sets are an unordered and collection of unique elements which can be constructed using set() function.

Let's go ahead and create a set to see how it works.

In [ ]:
x = set()
type(x)

In [ ]:
set("sure") # behaves same like List except order

In [ ]:
list("sure")

In [ ]:
set(1) # behaves same like list i.e integer is not iterable

In [ ]:
list(1) # integer is not iterable

In [ ]:
set([1,2,3,4,5,6,6,6,6,6,7,8]) # set will not accept duplicate values

In [ ]:
l = [1,2,3,4]
l[0] # Using indexing we can access value in list

In [ ]:
s = set([1,2,3,4,"sure","sures"])
s[0] # Using indexing we cannot access value in set

In [ ]:
# If we want access set values first we need to convert set into list after that we can access the values using index
list(s)[0]

In [ ]:
list(s)[::-1]

In [ ]:
s

In [ ]:
s.add(3)

In [ ]:
s

In [ ]:
s.add(6)
s

In [ ]:
l = [1,1,1,1,2,2,2,5,5,6,"sure","sure"]
set(l)

In [ ]:
set([[4,5,6],6,7,[5,6,7]]) # List with in a list is not possible in set

In [ ]:
set([4,3,2,24,1,"suresh","abc","efg"]) # partial sorted order i.e set looking at first digit or first character

In [ ]:
i = set([1,5,7,4,4,4,4,5,6,7,0,"@"])
j = list(i)
print(j)
j.pop()
j

In [ ]:
# Set is iterable object
s = set([1,2,3,4,5])
for i in s:
    print(i)

In [ ]:
# we can't use access the value of set using indexing 
# Index wise operation is not possible in set
s[0]

In [ ]:
s1 = set((1,2,3,4))
s1

In [ ]:
s1 = set([1,2,3,4,"sure",(1,2,3,4)])
s1

In [ ]:
s1 = set([1,2,3,4,"sure",(1,2,3,4),[4,5,6,7]]) # list within list is not allowed in set
s1

# Dictionaries

Dictionaries are nothing but hash tables in other programming languages.

In [29]:
# create dictionary
d = {}
type(d)

dict

In [30]:
# Dictionary is key and value pair Data structure
# Dictionaries are mutable objects
d = {'k':44}
d

{'k': 44}

In [31]:
d['k']

44

In [32]:
d = {"k":44,"k":666} # If we have duplicate key in Dictionary it will over write the existing key
d['k']

666

In [33]:
d = {666:666}
d

{666: 666}

In [34]:
d = {True:666}
d

{True: 666}

In [35]:
d = {'#':555} # Special characters within string as key are allowed
d

{'#': 555}

In [36]:
d = {[1,2,3]:666} # Lists as key are not allowed
d

TypeError: unhashable type: 'list'

In [37]:
d = {666:[1,2,3]} 
d[666]

[1, 2, 3]

In [38]:
d = {'k':[1,2,3,4]}
d['k']

[1, 2, 3, 4]

In [39]:
d = {'k':(1,2,3,4)}
d['k']

(1, 2, 3, 4)

In [40]:
d = {'k':True}
d['k']

True

In [41]:
d = {'k': 13.66}
d['k']

13.66

In [42]:
d = {'k':{1,2,3,4,55,55,55},"k2":[5,6,7,8]}
d['k2']

[5, 6, 7, 8]

In [43]:
# Nested Dictionary is possible in Dictionary
d = {'k':{1,2,3,4,55,55,55},"k2":[5,6,7,8],"k3":{"k11":"suresh","k22":"suresh"}}
d['k2']

[5, 6, 7, 8]

In [44]:
d['k3']['k11']

'suresh'

In [45]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}
my_dict['key3'][0]

'item0'

In [46]:
my_dict['key4']= "string"
my_dict

{'key1': 123,
 'key2': [12, 23, 33],
 'key3': ['item0', 'item1', 'item2'],
 'key4': 'string'}

In [63]:
# we can update existing key values
my_dict['key1'] = "string"
my_dict

{'key1': 'string',
 'key2': [12, 23, 33],
 'key3': ['item0', 'item1', 'item2'],
 'key4': 'string'}

In [78]:
# Return all the keys that present in a dictionary
my_dict.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [79]:
# Iterating keys in for loop
a = my_dict.keys()
for i in my_dict:
    print(i)

key1
key2
key3
key4

In [80]:
a = my_dict.keys()
for i in my_dict.keys():
    print(my_dict[i])

string
[12, 23, 33]
['item0', 'item1', 'item2']
string

In [81]:
my_dict.values() # Returning values in Dictionaries

dict_values(['string', [12, 23, 33], ['item0', 'item1', 'item2'], 'string'])

In [83]:
for i in my_dict.values():
    print(i)

string
[12, 23, 33]
['item0', 'item1', 'item2']
string

In [84]:
my_dict.items()# Return result in list of tuple(Key and value pair) in Dictionary

dict_items([('key1', 'string'), ('key2', [12, 23, 33]), ('key3', ['item0', 'item1', 'item2']), ('key4', 'string')])

In [85]:
for i in my_dict.items():
    print(i)

('key1', 'string')
('key2', [12, 23, 33])
('key3', ['item0', 'item1', 'item2'])
('key4', 'string')

In [86]:
# Dictionary Comprehension
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [88]:
l = [[1,2,3,4],5,6,7,8,[9,10,11,12]] # when are try to pass nested list to set it will thro an error
set(l)

TypeError: unhashable type: 'list'

In [90]:
l = ((1,2,3,4),5,6,7,8,(9,10,11,12)) # when are try to pass nested tuple to set it will work good
set(l)

{(1, 2, 3, 4), (9, 10, 11, 12), 5, 6, 7, 8}

In [94]:
# Print first and second row of matrix
matrix = [[1,2,3],[4,5,6],[7,8,9]]
first_second_row = [[i[0],i[1]] for i in matrix]
first_second_row

[[1, 2], [4, 5], [7, 8]]

In [106]:
# While appending new value to list please dont assign to main list i.e A = A.append(5)
A = [0,1,2,3]
A.append(5)
print(type(A))
A

<class 'list'>

[0, 1, 2, 3, 5]

In [111]:
# While appending new value to list please dont assign to main list i.e a = a.append(5)
a = [1,2,3,4]
a.append(5)
type(a)
print(a)

[1, 2, 3, 4, 5]

In [122]:
# Pop function for set it doesnot follow order because it is un ordered
# In case of list pop( will pop off last element in the list)
s = {1,2,3,4,"sure","suresh",66.6}
s

{1, 2, 3, 4, 66.6, 'sure', 'suresh'}

In [128]:
s.pop()

1

In [130]:
d = {"key1":[1,2,3,4],"key2":(1,2,3,4)}
d['key2'] = [i**10 for i in d['key2']]
d

{'key1': [1, 2, 3, 4], 'key2': [1, 1024, 59049, 1048576]}

In [136]:
d = {'k1':1,'k2':2,'k3':3}
l =[]
for i in d.items():
    l.append(i[1])
max(l)
d.items()
for i in d.items():
    if i[1] == max(l):
        print(i[0])

k3

# map()

The map() is a function that takes in two arguments:

1. A Function

2. A Sequence iterable

In [138]:
# In the form: map(function,sequence)
# The First argument is the name of the function and the second a sequence(e.g list). map() applies the function to all the elements of the sequence. It returns a new list with the elements changes by the function
# When we went over list comprehension we created a small expression to convert Fahrenheit to celsius. Lets do the same here but use map.
# We will start with two functions:

In [154]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
temp = [0,22.5,40,100]

In [155]:
l = []
for i in temp:
    l.append(fahrenheit(i))
l

[32.0, 72.5, 104.0, 212.0]

In [156]:
l2 = []
for i in temp:
    l2.append(celsius(i))
l2

[-17.77777777777778, -5.277777777777778, 4.444444444444445, 37.77777777777778]

In [157]:
F_temps = list(map(fahrenheit,temp)) # Passing function name and data to map()
F_temps

[32.0, 72.5, 104.0, 212.0]

In [158]:
C_temps = list(map(celsius,F_temps)) # Convert back to celsius(Original)
C_temps

[0.0, 22.5, 40.0, 100.0]

 In the example above we haven't used a lambda expression,it is not necessary to define and name fahrenheit() and celsius()functions.

In [160]:
list(map(lambda x:(5.0/9)*(x-32),F_temps)) # Lambda is anonymous function

[0.0, 22.5, 40.0, 100.0]

In [161]:
# Map is more commonly used with lambda expression since the entire purpose of a map() is to save effort on creating manual for loops.
# map() can be applied to more than one iterable.The iterables must have the same lenght.
# For instance, if we are working with two lists-map() will apply its lambda function to the elements of the arguments lists,i.e first applies to the element with the 0th index, then to the elements with the 1st index until the nth index is reached
# For example, lets map a lambda expression to two lists:

In [163]:
# Lists size should be same in lambda function
a = [1,2,3,4,6]
b = [5,6,7,8,5,6,7]
c = [9,10,11,12]
list(map(lambda x,y:x*y,a,b))

[5, 12, 21, 32, 30]

In [164]:
from functools import reduce
l = [1,2,3,4]
reduce(lambda x,y:x+y,l)

10

In [165]:
# Find the maximum of a sequence
max_find = lambda a,b: a if(a>b) else b
type(max_find)

function

In [166]:
# Find max
reduce(max_find,l)

4

In [170]:
# Filter
# The function filter(function, list) offers a convenient way to filter out all the elements of an iterable,for which the function returns "True"
def even_check(num):
    if num % 2 == 0:
        return True

In [172]:
l = range(20)
list(filter(even_check,l)) # Filter returns True

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [173]:
list(filter(lambda x:x%2==0,l))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [174]:
l = "welcome to India"
l = l.split()
l

['welcome', 'to', 'India']

In [177]:
list(filter(lambda x: x=='welcome',l))

['welcome']

In [200]:
# Write a Python program to sum all the items in a list.
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([1,2,-8]))

-5

In [201]:
l = [1,2,3,4,-5]
sum = 0
for i in l:
    sum = sum + l[i]
print(sum)

5

In [206]:
# Write a Python program to count the number of strings where the string length is 2 or
# more and the first and last character are same from a given list of strings.
def match_words(words):
    ctr = 0
    for word in words:
        if len(word) > 1 and word[0] == word[-1]:
            ctr += 1
    return ctr

In [207]:
a=['abc', 'xyz', 'aba', '1221','bhgsskknb','aa']

In [208]:
match_words(a)

4

In [215]:
# Write a Python program to remove duplicates from a list.
samp_list = [10, 20, 30, 20, 10, 50, 60, 40, 80, 50, 40]
dup_items = set()
uniq_items = []
for x in samp_list:
    if x not in dup_items:
        uniq_items.append(x)
        dup_items.add(x)
print(dup_items)
print(uniq_items)

{40, 10, 80, 50, 20, 60, 30}
[10, 20, 30, 50, 60, 40, 80]

# Functions

In [5]:
print("hello Python")
print("hello Python")
print("hello Python")
print("hello Python")

hello Python
hello Python
hello Python
hello Python

In [6]:
def name_of_function(arg1,arg2):
    '''
    This is where the function's Document String (doc-string) goes
    '''
    # Do stuff here
    # return desired result

In [6]:
def greeting():
    print("Hello Python")

In [8]:
greeting()

Hello Python

In [11]:
def square(num):
    return num**2,num # It can return multiple values

In [13]:
square(6)

(36, 6)

In [8]:
def even_odd(num):
    if num % 2 == 0:
        print("{} is Even".format(num))
    else:
        print("{} is Odd".format(num))

In [9]:
even_odd(4)

4 is Even

In [10]:
l = [1,2,3,4]

In [12]:
dir(l) # List of Function for List Data Structures

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [13]:
s = 'suresh'
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [16]:
# 1. Simple print 'hello' function
def hello():
    print("hello")

In [17]:
hello()

hello

In [18]:
# 2. simple greeting function
# Lets write a function that greets people with their name.
def greeting(name):
    print('hello %s' %name)

In [19]:
greeting('suresh')

hello suresh

In [20]:
x = greeting("suresh")

hello suresh

In [22]:
type(greeting("suresh")) # data type of function is NoneType

hello suresh

NoneType

# Using return
Let's see some examples that use a return statement. Return allowed a function to 'return' a result that can be stored as a variable, or used in whatever manner a user wants.

In [28]:
# 3. addition function
def addition(num1,num2):
    return num1+num2

In [29]:
addition(6,6)

12

In [ ]:
def add_sum(l):
    add = 0
    for i in l:
        add = add + i
    return add

In [36]:
aa = add_sum([1,2,3,4]) # Can also save as variable due to return
print(aa)
type(aa)

10

int

In [41]:
addition("sure","sure")

'suresure'

In [42]:
# Prime Check
def is_prime(num):
    '''
    Naive method of checking for prime
    '''
    for n in range(2,num):
        if num % n == 0:
            print("not prime")
            break
    else: # If never mod zero, then prime
        print('prime')

In [43]:
is_prime(3)

prime

In [44]:
# Write a Python program to check if all dictionaries in a list are empty or not. 
my_list1 = [{},{},{}]
my_list2 = [{123,2345},{},{}]
print(all(not d for d in my_list1))
print(all(not d for d in my_list2))

True
False

In [46]:
# Write a Python program to remove duplicates from a list of lists.
import itertools
num = [[110, 120], [240], [330, 456, 425], [310, 220], [133], [240]]
print("Original List", num)
num.sort()
new_num = list(num for num,_ in itertools.groupby(num))
print("New List", new_num)

Original List [[110, 120], [240], [330, 456, 425], [310, 220], [133], [240]]
New List [[110, 120], [133], [240], [310, 220], [330, 456, 425]]

In [47]:
# Write a Python program to extend a list without append.
x = [103, 320, 430]
y = [403, 503, 603]
x[:0] =y
print(x)

[403, 503, 603, 103, 320, 430]

In [48]:
# Write a Python program to find the list in a list of lists whose sum of elements is the highest
num = [[1,2,3], [4,5,6], [10,11,12], [7,8,9]]
print(max(num, key=sum))

[10, 11, 12]

In [49]:
# Write a Python program to access dictionary key’s element by index.
num = {'stats': 80, 'math': 90, 'algorithm': 86}
print(list(num)[0])

stats

In [51]:
# Write a Python program to iterate over two lists simultaneously.
num = [1, 2, 3]
color = ['red', 'while', 'black']
for (a,b) in zip(num, color):
    print(a, b)

1 red
2 while
3 black

In [52]:
# write a program to inser a string at the begining of every elements in a list
a = [100,123,345,567,789,890,98,876,543,678]
#enter customer before each element
print(['customer{0}'.format(i) for i in a])

['customer100', 'customer123', 'customer345', 'customer567', 'customer789', 'customer890', 'customer98', 'customer876', 'customer543', 'customer678']

In [54]:
# write a program to take two lists and print if they have at least one common member
def common_data(list1, list2):
    result = False
    for x in list1:
        for y in list2:
            if x == y:
                result = True
                return result
print(common_data([121,222,332,432,125], [125,236,457,678,779]))
print(common_data([1,2,3,4,5], [6,7,8,9]))

True
None

In [55]:
# compute all permutations in a list
import itertools
print(list(itertools.permutations([12,22,23])))

[(12, 22, 23), (12, 23, 22), (22, 12, 23), (22, 23, 12), (23, 12, 22), (23, 22, 12)]

In [56]:
# create a dictionary
dict1 = {'data': '123',
'science':'234',
'AI': '235'}

In [58]:
dict1

{'data': '123', 'science': '234', 'AI': '235'}

In [59]:
# write a program to sort a dictionary by key.
for key in sorted(dict1):
    print("%s: %s" % (key, dict1[key]))

AI: 235
data: 123
science: 234

In [60]:
# Write a Python program to get a dictionary from an object's fields. 
class dictObj(object):
    def __init__(self):
        self.x = 'algorithm'
        self.y = 'statistics'
        self.z = 'programming'
        def do_nothing(self):
            pass
test = dictObj()
print(test.__dict__)

{'x': 'algorithm', 'y': 'statistics', 'z': 'programming'}

In [61]:
# write a program to remove duplicates from Dictionary.
student_data = {'id1':
                {'name': ['Sara'],
                 'class': ['V'],
                 'subject_integration': ['english, math, science']
                },
                'id2':
                {'name': ['David'],
                 'class': ['V'],
                 'subject_integration': ['english, math, science']
                },
                'id3':
                {'name': ['Sara'],
                 'class': ['V'],
                 'subject_integration': ['english, math, science']
                },
                'id4':
                {'name': ['Surya'],
                 'class': ['V'],
                 'subject_integration': ['english, math, science']
                },
               }
result = {}
for key,value in student_data.items():
    if value not in result.values():
        result[key] = value
print(result)

{'id1': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

In [62]:
# write a program to combine two dictionary adding values for common keys
from collections import Counter
d1 = {'a': 1000, 'b': 3200, 'c':1300}
d2 = {'a': 300, 'b': 200, 'd':400}
d = Counter(d1) + Counter(d2)
print(d)

Counter({'b': 3400, 'a': 1300, 'c': 1300, 'd': 400})

In [63]:
# write a program to print all unique values from a dictionary in a list
data = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
u_value = set( val for dic in data for val in dic.values())
print("Unique Values: ",u_value)

Unique Values:  {'S007', 'S009', 'S002', 'S001', 'S005'}

In [64]:
type(data)

list

In [65]:
#create a tuple from multiple data types
tuple1 = ("tuple", False, 3.2, 1)

In [67]:
print(tuple1)

('tuple', False, 3.2, 1)

In [68]:
a = ['tuple','dict','try']
b = [2.3,4.5,6.7]
c = [1,2,3]
d = [True, False, True]

In [69]:
tuple2 = (a,b,c,d)

In [70]:
print(tuple2)

(['tuple', 'dict', 'try'], [2.3, 4.5, 6.7], [1, 2, 3], [True, False, True])

In [71]:
# Create a list of length 3 and Create a list of length 4, For each element in the first list,
# Display the corresponding index element of the second list
# Create a list of length 3:
header = ['data science', 'Blue mix', 'algorithms']
# Create a list of length 4:
match = ['Red hat', 'Blue mixx','Green gold','Orange Ai']
for header, match in zip(header, match):
    # Display the corresponding index element of the second list:
    print(header, 'has the following options:', match)

data science has the following options: Red hat
Blue mix has the following options: Blue mixx
algorithms has the following options: Green gold

In [72]:
# display an example of Nested For Loops Using List Comprehension
# Create a list of length 3:
headers = ['data science', 'Blue mix', 'algorithms']
# Create a list of length 4:
matches = ['Red hat', 'Blue mixx','Green gold','Orange Ai']

In [73]:
[(header, match) for header in headers for match in matches ]

[('data science', 'Red hat'),
 ('data science', 'Blue mixx'),
 ('data science', 'Green gold'),
 ('data science', 'Orange Ai'),
 ('Blue mix', 'Red hat'),
 ('Blue mix', 'Blue mixx'),
 ('Blue mix', 'Green gold'),
 ('Blue mix', 'Orange Ai'),
 ('algorithms', 'Red hat'),
 ('algorithms', 'Blue mixx'),
 ('algorithms', 'Green gold'),
 ('algorithms', 'Orange Ai')]

In [75]:
#write a program for breaking and exiting out of loop
# Create a list:
armies = ['Red Army', 'Blue Army', 'Green Army']
for army in armies:
    print(army)
    if army == 'Blue Army':
        print('Blue Army Found! Stopping.')
        break

Red Army
Blue Army
Blue Army Found! Stopping.

In [77]:
#A loop will exit when completed, but using an else statement we can add an action at the conclusion of the loop if it hasn’t been exited earlier.
for army in armies:
    print(army)
    if army == 'Orange Army':
        break
else:
    print('Looped Through The Whole List, No Orange Army Found')

Red Army
Blue Army
Green Army
Looped Through The Whole List, No Orange Army Found

In [78]:
#1. create a sample JSON object from titanic train dataset
# https://raw.githubusercontent.com/pcsanwald/kaggle-titanic/master/train.csv

# Read the JSON object and convert it to pandas data frame

# match the top 5 records from JSON read and actual titanic dataset

#2. read the HTML file as given below
# http://vincentarelbundock.github.io/Rdatasets/datasets.html

# create a data frame from the above object

## Create URL to JSON file (alternatively this can be a filepath)
url = 'https://raw.githubusercontent.com/chrisalbon/simulated_datasets/master/data.json'

# Load library
import pandas as pd
# Load the first sheet of the JSON file into a data frame
df = pd.read_json(url, orient='columns')
# View the first ten rows
df.head(10)

   integer            datetime  category
0        5 2015-01-01 00:00:00         0
1        5 2015-01-01 00:00:01         0
2        9 2015-01-01 00:00:02         0
3        6 2015-01-01 00:00:03         0
4        6 2015-01-01 00:00:04         0
5        9 2015-01-01 00:00:05         0
6        7 2015-01-01 00:00:06         0
7        1 2015-01-01 00:00:07         0
8        6 2015-01-01 00:00:08         0
9        9 2015-01-01 00:00:09         0

# OOP  and File I/O

In [189]:
class Person:
    pass

suresh = Person()
suresh.name = "suresh.tedla"
suresh.location = "miryalaguda"
suresh.data_of_birth = 1992

print(suresh)
print("%s location is %s and  Data of Birth is %d" %(suresh.name, suresh.location, suresh.data_of_birth))

<__main__.Person object at 0x000000000822B608>
suresh.tedla location is miryalaguda and  Data of Birth is 1992

In [190]:
class Person:
    def __init__(self, name, surname,year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth

In [193]:
sure = Person("Sure","Tedla","1992")
print(sure)
print(sure.name)

<__main__.Person object at 0x0000000008352B88>
Sure

In [198]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
    def age(self,current_year):
        return current_year - self.year_of_birth
    def __str__(self):
        return "%s %s was born in %d ." %(self.name,self.surname,self.year_of_birth)

sure = Person("sure","tedla",1992)
print(sure)
print(sure.name)
print(sure.age(2020))

sure tedla was born in 1992 .
sure
28